client_id = ""
client_secret = ""
idir_client_id = ""
idir_client_secret = ""
bceidbasic_client_id = ""
bceidbasic_client_secret = ""
bceidbusiness_client_id = ""
bceidbusiness_client_secret = ""
bceidboth_client_id = ""
bceidboth_client_secret = ""
username = ""
password = ""
siteminder_signing_certificate = ""
azureidir_client_id = ""
azureidir_client_secret = ""
github_client_id = ""
github_client_secret = ""
